*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.hprof
app/release/
app/debug/
app/build/
*.aab
*.keystore
*.jks

# Gradle files
gradle/
gradlew
gradlew.bat
build.gradle
settings.gradle
gradle.properties
app/build.gradle

#VSCode files
LLM-Notebook.code-workspace

#Packaged app
Mithadon-LLM-Notebook-v0.1.apk